
version: 2
jobs:
  build:
    docker:
    - image: circleci/golang:1.15
    - image: circleci/node:12.19
      auth:
          # Change to your Docker Hub username
          username: danielhoward314
          # CircleCI environment variable
          password: $DOCKERHUB_PASSWORD
    # Change next line
    working_directory: /go/src/github.com/danielhoward314/go-react-boilerplate
    environment:
      GO111MODULE: "on"
    steps:
    - checkout
    - run: echo "starting build"
    - run:
        name: "Fetch dependencies"
        command: |
          go get -v ./...
    # following two lines not available on CircleCI free plan; uncomment if you upgrade
    # - setup_remote_docker:
    #     docker_layer_caching: true
    - run:
        name: build and push Docker images
        shell: /bin/bash
        command: |
          make build && make push
