
version: 2

anchors:
  context: &context
    context: secrets
    filters:
        branches:
          only: main

jobs:
  build:
    docker:
    - image: circleci/golang:1.15
    - image: circleci/node:12.19
      auth:
          # CircleCI environment variable
          username: $DOCKERHUB_USERNAME
          # CircleCI environment variable
          password: $DOCKERHUB_PASSWORD
    # Change next line
    working_directory: /go/src/github.com/danielhoward314/go-react-boilerplate
    environment:
      GO111MODULE: "on"
      IMAGE_NAME: danielhoward314/go-react-boilerplate
    steps:
    - checkout
    - run: echo $DOCKERHUB_USERNAME
    - run:
        name: "Fetch dependencies"
        command: |
          go get -v ./...
    # following two lines not available on CircleCI free plan
    - setup_remote_docker:
        docker_layer_caching: true
    - run:
        name: push Docker images
        shell: /bin/bash
        command: |
          echo "$DOCKERHUB_PASSWORD" | docker login -u "$DOCKERHUB_USERNAME" --password-stdin
          docker build -t $IMAGE_NAME:$CIRCLE_SHA1
          docker tag ${IMAGE_TAG}:${CIRCLE_SHA1} ${IMAGE_TAG}:latest
          docker push $IMAGE_NAME:latest
          docker push $IMAGE_NAME:$CIRCLE_SHA1
