
version: 2.1

anchors:
  context: &context
    context: secrets
    filters:
        branches:
          only: main

jobs:
  build:
    docker:
    - image: circleci/golang:1.15
    - image: circleci/node:12.19
      auth:
          # CircleCI environment variable
          username: $DOCKERHUB_USERNAME
          # CircleCI environment variable
          password: $DOCKERHUB_PASSWORD
    # Change next line
    working_directory: /go/src/github.com/danielhoward314/go-react-boilerplate
    environment:
      GO111MODULE: "on"
    steps:
    - checkout
    - run: echo $DOCKERHUB_USERNAME
    - run:
        name: "Fetch dependencies"
        command: |
          go get -v ./...
    # following two lines not available on CircleCI free plan
    - setup_remote_docker:
        docker_layer_caching: true
    - run:
        name: build and push Docker images to Docker Hub
        shell: /bin/bash
        command: |
          echo "$DOCKERHUB_PASSWORD" | docker login -e "$DOCKERHUB_EMAIL" -u "$DOCKERHUB_USERNAME" --password-stdin hub.docker
          make build && make push
