
version: 2.1

anchors:
  context: &context
    context: secrets
    filters:
        branches:
          only: main

jobs:
  build:
    docker:
    - image: circleci/golang:1.15
    - image: circleci/node:12.19
      auth:
          # CircleCI environment variable
          username: $DOCKERHUB_USERNAME
          # CircleCI environment variable
          password: $DOCKERHUB_PASSWORD
    # Change next line
    working_directory: /go/src/github.com/danielhoward314/go-react-boilerplate
    environment:
      GO111MODULE: "on"
    steps:
    - checkout
    - run:
        name: "Fetch dependencies"
        command: |
          go get -v ./...
    # following two lines not available on CircleCI free plan
    - setup_remote_docker:
        docker_layer_caching: true
    - run:
        name: build and tag image
        # Change the tag to your Docker Hub repo <username>/<repo-name>
        # $CIRCLE_SHA1 is a default environment variable in CircleCI
        command: |
          docker build -t danielhoward314/go-react-boilerplate:0.0.1 .
    - run:
        name: push image to Docker Hub
        # Change the tag to your Docker Hub repo <username>/<repo-name>
        # $CIRCLE_SHA1 is a default environment variable in CircleCI
        command: |
          echo "$DOCKERHUB_PASSWORD" | docker login --username "$DOCKERHUB_USERNAME" --password-stdin
          docker push danielhoward314/go-react-boilerplate:0.0.1
